# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.idea/
data/Dicon.rc
data/Makefile
/Debug/
.cproject
.gitattributes
.project
.depend
.settings/
libjson/
Dicon.sdf
Dicon.sln
Dicon.v12.suo
/nbproject/
Dicon.pro
Dicon.pro.user*
Dicon.1
*.zip
*.bak
*.xrc
Tests/
Objects/
/Distributor/
/Collector/
/Node/
/cmake-build*
GCCDebug
.DS_Store
build*/
scratch/
gen/
