/Bankor.xcodeproj/
/.idea/
Bankor.asta.lock
/Bankor/build/
/Bankor/dist/
/Debug/
.cproject
.gitattributes
.project
.depend
.settings/
libjson/
Bankor.sdf
Bankor.sln
Bankor.v12.suo
Bankor/.dep.inc
Bankor/Bankor.vcxproj
Bankor/Bankor.vcxproj.filters
Bankor/Bankor.vcxproj.user
Bankor/Makefile
Bankor/ReadMe.txt
Bankor/nbproject/
Bankor/Debug/
Bankor/Bankor.pro
Bankor/Bankor.pro.user*
Bankor/Bankor.1
fdminst.exe
*.zip
Tests/
MatrixTests/
Objects/