# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Bankor.xcodeproj/
/.idea/
Bankor.asta.lock
data/Bankor.rc
data/Makefile
/Debug/
.cproject
.gitattributes
.project
.depend
.settings/
libjson/
Bankor.sdf
Bankor.sln
Bankor.v12.suo
/nbproject/
Bankor.pro
Bankor.pro.user*
Bankor.1
*.zip
Tests/
Objects/
/Distributor/
/Collector/
/Node/
